@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-button {
  background-color: black;
  color: white;
}
.gradient-text {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #ffc876 35.77deg,
    #79fff7 153.75deg,
    #9f53ff 258.75deg,
    #ff98e2 360deg
  );
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  margin-top: 1rem;
}
.gradient-button:hover {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #ff98e2,
    #ffc876 35.77deg,
    #79fff7 153.75deg,
    #9f53ff 258.75deg,
    #ff98e2 360deg
  );
  color: black;
}
.gradient-button-bg {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #ff98e2,
    #ffc876 35.77deg,
    #79fff7 153.75deg,
    #9f53ff 258.75deg,
    #ff98e2 360deg
  );
}
.gradient-input:focus-within {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #ff98e2,
    #ffc876 35.77deg,
    #79fff7 153.75deg,
    #9f53ff 258.75deg,
    #ff98e2 360deg
  );
}
.custom-wallet-button {
  background: linear-gradient(to right, #4e54c8, #8f94fb);
  color: white !important;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}




